<div class="page-selection">
    <div class="auth-img-pos">
        <img class="close-img" src="/assets/images/close.gif" mat-dialog-close>
    </div>
    <div class="auth-head-block">
        <h1>Авторизация</h1>
    </div>
    <div class="auth-inputs-block">
        <input class="auth-input" type="text" placeholder="Логин">
        <input class="auth-input" type="password" placeholder="Пароль">
        <button class="fisrt-variation-bar">
            <h1>Войти</h1>
        </button>
        <button class="second-variation-bar" (click)="openRegDialog()">
            <h1>У меня ещё нет аккаунта</h1>
        </button>
    </div>
</div>