.head-block {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.controll-button-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.controll-button-block .fisrt-variation-bar {
    width: 200px;
}

.object-location {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.object {
    display: flex;
    align-items: stretch;
}

.element {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 5px;
    border: 5px solid rgb(204, 204, 204);
}

.object-list {
    display: flex;
    flex-direction: column;
}

.element-button {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 5px solid rgb(204, 204, 204);
}

.element-button .object-button {
    width: 200px;
    background: #7c7c7c;
    border: 3px solid rgb(48, 48, 48);
    border-radius: 15px;
    box-shadow: 0 0 10px;
    padding: 15px;
}

.element-button .object-button:hover {
    background-image: radial-gradient(ellipse farthest-corner at 50% 50%, rgba(66, 66, 66, 0.7), rgba(66, 66, 66, 0.7));
}

.element-button .object-button+.object-button {
    margin-top: 5px;
}